
<div class="container">
  <h2>Gerenciar Usuários</h2>
  <%= form_tag("/users/update", method: "post") do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Criado em</th>
        <th>Atualizado em</th>
        <th>Admin</th>
        <th>Ação</th>
      </tr>
    </thead>
    
    <tbody>
    <% for user in @users do %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime("%d/%m/%Y - %Hh%M") %></td>
        <td><%= user.updated_at.strftime("%d/%m/%Y - %Hh%M") %></td>
        <td><%= check_box_tag "checkbox_admin[]", user.id, user.admin? %> </span></td>
        <td><%= link_to("delete", "#{users_path}/#{user.id}", :method => 'delete')%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    <%= submit_tag("Save", :class=>"btn btn-success") %>

<% end %>

</div>



